body {
    background-color: white;
    color: black;
}

div {
    overflow: auto;
}

article {
    width: 50%;
}

p {
    font-size: larger;
    border-style: solid;
    border-color: Black;
    border-width: thick;
    width: 50%;
}

#testp {
    font-weight: bold;
    font-size: 2em;
}

#Continue {
    float: right;
    margin-top: 20px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
    background-color: Gray;
    visibility: hidden;
}

#RoomThumb {
    display: inline-block;
    margin: 3px;
    height: 60px;
    width: 60px;
    border: 1px solid red;
}

#RoomTitle {
    display: inline-block;
    width: 40%;
    text-align: center;
    font-family: Sans-Serif;
    font-weight: bold;
    font-size: large;
    border: 1px solid green;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 7px;
}

#MainPic {
    position: absolute;
    width: 50%;
    margin: 3px;
    top: 40px;
    left: 300px;
    height: 300px;
}

#MainImg {
    position: absolute;
    width: 50%;
    margin-left: 5px;
    top: 40px;
    left: 300px;
    border: 2px solid black;
    vertical-align: top;
}

#MainVid {
    position: absolute;
    width: 50%;
    margin-left: 5px;
    top: 40px;
    left: 300px;
    border: 2px solid black;
    vertical-align: top;
    visibility: hidden;
}

.MainLayeredImage {
    position: absolute;
    width: 50%;
    margin-left: 5px;
    top: 40px;
    left: 300px;
    border: 2px solid black;
    vertical-align: top;
}

table {
    width: 100%;
    height: 100%
}

#textbutton {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#textactionbutton {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#playernamebutton {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#playernametext {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#genderchoiceSelect {
    width: auto;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#playernametext {
    width: 100%;
}

#savemenu {
    position: absolute;
    background-color: White;
    border: 2px solid black;
    visibility: hidden;
    top: 40px;
    height: 150px;
    border: 2px solid black;
}

#loadmenu {
    position: absolute;
    background-color: White;
    border: 2px solid black;
    visibility: hidden;
    top: 40px;
    height: 150px;
    border: 2px solid black;
}

select {
}

td {
    text-align: center;
}

#inputtable {
    width: 100%;
    height: 100%;
}

#InputMenuTitle {
}

#inputchoices {
    width: auto;
    height: 100%;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#cmdinputtable {
    width: 100%;
    height: 100%;
}

#cmdInputMenuTitle {
}

#cmdinputchoices {
    width: auto;
    height: 100%;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#selectionmenu {
    position: absolute;
    background-color: White;
    border: 2px solid black;
    width: 200px;
    height: 100px;
    overflow: auto;
    top: 50px;
    visibility: hidden;
    filter: alpha(opacity=60);
}

#Actionchoices {
    width: 100%;
    height: 100%;
}

#UDCompass {
    display: inline-block;
    width: 5%;
    margin: 2px;
    border: 2px solid black;
}

#Compass {
    display: inline-block;
    width: 20%;
    margin: 2px;
    border: 2px solid black;
}

#PlayerPortrait {
    width: 20%;
    margin: 2px;
    border: 4px solid black;
    vertical-align: top;
}

#PlayerImg {
    position: absolute;
    width: 20%;
    margin: 2px;
    border: 4px solid black;
    vertical-align: top;
}

.PortraitLayeredImage {
    position: absolute;
    width: 20%;
    margin: 2px;
    vertical-align: top;
}

#RoomThumbImg {
    position: absolute;
    margin: 2px;
}

#RoomThumbImg:not([src]) {
    display: none;
}

.RoomLayeredImage {
    position: absolute;
    width: 20%;
    margin: 2px;
    vertical-align: top;
}

#RoomObjectsPanel {
    display: inline-block;
    vertical-align: top;
    width: 16%;
    margin: 2px;
    border: 2px solid black;
}

#RoomObjects {
    width: 97%;
    margin: 2px;
    border: 2px solid black;
    height: 87%;
}

#VisibleCharactersPanel {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin: 2px;
    border: 2px solid black;
}

#VisibleCharacters {
    width: 97%;
    margin: 2px;
    border: 2px solid black;
    height: 87%;
}

#InventoryPanel {
    display: inline-block;
    vertical-align: top;
    width: 16%;
    margin: 2px;
    border: 2px solid black;
}

#Inventory {
    width: 97%;
    margin: 2px;
    border: 2px solid black;
    height: 87%;
}

#Version {
    float: right;
    display: inline;
    margin-right: 20px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    margin-left: 20px;
}

.Direction {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 2px solid black;
    font-size: x-small;
    color: Black;
    text-align: left;
    font-weight: bold;
    visibility: hidden;

}

#tooltip {
    font-weight: bold;
    position: absolute;
    width: auto;
    height: 25px;
    background-color: white;
    border: 2px solid black;
    visibility: hidden;
}

#bIn {
    opacity: 0.7;
    filter: alpha(opacity=70);
    top: 4.5%;
    left: 23%;
    width: 30px;

}

#bOut {
    top: 88%;
    left: 23%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    width: 30px;
}